.custom-reg-form{
    margin:  80px 0px 0px;
    padding: 60px;
    background-color: rebeccapurple;
}
.custm-btn{
    padding: 10px 25px;
    border-radius: 10px;
    background-color: royalblue;
    border: 2px solid royalblue;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
}
.input-field{
    width: 100%;
    margin-bottom: 10px;
    padding: 8px 10px;
    border-radius: 10px;
    border: none;
}