.title h3{
    font-size: 64px;
    width: 70%;
    margin: 0px auto;

}
.title p{
    font-size: 20px;
    width: 70%;
    margin: 0px auto;
}
.title{
    margin-bottom: 500px;
     text-align: right;
}
.carousel-indicators{
    margin-bottom: 250px;
}
.carousel-indicators [data-bs-target],.carousel-indicators .active{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}